@model IndexViewModel

<div class="page">
    @if (Model.PageNumber > 1)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
           asp-route-search="@Model.Search" asp-route-pageNumber="@(Model.PageNumber - 1)">Back</a>
    }

    @foreach (var p in Model.Pages)
    {
        //Ta dùng biểu thức luận lý để gán 1 chuỗi string, khi đúng gán "active"
        //Bằng cách này ta ko cần viết if else dài dòng để gán class = active cho div

        if (p == -1)
        {
            <span class="three-dots">
                ...
            </span>
        }
        else
        {
            <a class="@(p == Model.PageNumber ? "active" : "")" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
               asp-route-search="@Model.Search" asp-route-pageNumber="@p">@p</a>
        }
    }

    @if (Model.NextPage)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
           asp-route-search="@Model.Search" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
    }
</div>